body{
    color: #40514E;
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 16px
}
h1{
  color: #66BFBF;
  font-size: 5.625rem; /* 100% is actually 16px that means if you want 90px means 90px/16px = 5.625 and when we convert it into percentage by multiplying with 100 it gives 562.5% and 1em = 16px*/
  margin: 50px auto 0 auto;

  /*width:10%;
  margin: 0 auto 0 auto; */ /*top right bottom and left margin*/
  font-family: 'Sacramento', cursive;
}
h2{
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 10px;

}
h3{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;

}
p {
    margin: 10;
}
p {
  line-height: 2;
}

/*div{
    background-color: #cbf1f5;
}  */
.top-container{
    background-color: #EAF6F6;
    position: relative;
    padding-top: 100px;
    }
  .middle-container{
    /*background-color: cyan;
    width: 200px;
    height: 200px;*/
    margin: 100px 0;
}
.bottom-container{
    background-color: #66BFBF;
    padding: 50px 0 20px;} /*50 pixels from top and 0 from left and right 20 from bottom*/
    /*background-color: darkcyan;
    width: 200px;
    height: 200px;*/


.pro {
  text-decoration: underline;
}
.intro{
  width: 30%;
  margin: auto;
}
.contact-message{
  width: 40%;
  margin: 40px auto 60px auto;
}

.copyright{
  color: #EAF6F6;
  font-size: 0.85rem; /*That is the 85 percentage of 16px*/
  padding: 20px 0;
}
hr{
  border: dotted #EAF6F6 8px;
  border-bottom: none;
  width: 6%;
  margin: 100px auto;
}
a{
  color: #11999E;
  font-family: 'Montserrat',sans-serif;
  margin: 10px 15px;
  text-decoration: none;
}
a:hover{
  color: #EAF6F6;
}
.bottom-cloud{
  position: absolute;
  left: 250px;
  bottom: 300px;
}
.top-cloud{
  position: absolute;
  right: 300px;
  top: 40px;
}
.code-skill{

  width: 25%;
  float: left;
  margin-right: 30px;
  border-radius: 100%;
}
.seo-skill{
  border-radius: 100%;
  width: 25%;
  float: right;
  margin-left: 50px;

}
/*.code-skill-discription{
  clear: left;
}
.seo-skill-discription{
  clear:right;
}*/
.Admin{
  border-radius: 100%;
}
/*img:hover{
  background-color: #060930;
}
.Admin{
  background-color: skyblue;
}*/
/*a:link{
  background-color: #11999E;
}
a:visited{
  background-color: lightgreen;
}
a:active{
  background-color: red;
}
a:hover{
  background-color: cyan;
}*/
.pro{
  font-weight: normal;
}
.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}
.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
